body {
    padding-top: 50px;
    background-color: green; 
}

#main-content {
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: white;
    
    -webkit-box-shadow: 3px 3px 5px 0 rgba(201, 201, 201, 0.75);
    -moz-box-shadow:    3px 3px 5px 0 rgba(201, 201, 201, 0.75);
    box-shadow:         3px 3px 5px 0 rgba(201, 201, 201, 0.75);
}

.wrapper {
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 0;
}


/*======== orientations ============*/
@media all and (min-device-width:301px)and (orientation:landscape) {
/*======= header ===============*/
    #header {
        position: fixed;
        background-color: #E5E4E2;
        height: 35px;
        left: 13%;
        top: 0;
        width: 87%;
        z-index: 100;
    }

    .title {
        color: #fff;
        padding-top: 10px;
        position: relative;
        left: 35%;
    }

    .fa-times {
        position: absolute;
        top: 1px;
        left: 57%;

        color: #f00;
    }
/*========================= */

/*========== wrapper ======*/
.wrapper {
    width: 80%;
    left: 13%; 
}

.button {
    padding-top: 20px;
    padding-bottom: 10px;
}
/*===================*/

/*========== footer =======*/
    .footer {
        position:fixed;
        top: 0;
        left: 0;
        list-style: none;
    }

    .footer ul li {
        display: block;
        background-color: black;
        height: 25vh;
        width: 62px;
    }

    .footer a {
        color: #666;
        display: block;
        text-decoration: none;    
    }

    .footer ul li {
        padding-top: 10px;
    }

    .footer ul li a p {
        text-align: center;
    }

    .footer .fa-thumbs-down, .fa-thumbs-up, .fa-hand-o-up, .fa-share {
        padding-left: 15px;
    }
}
@media only screen and (max-device-width:990px)and (orientation:portrait) {
/*======= header ===============*/
    #header {
        position: fixed;
        background-color: #000;
        height: 40px;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .title {
        color: #fff;
        text-align: center;
        padding-top: 10px;
        position: relative;
    }

    .title span {
        font-weight: 800;
    }

    .fa-times {
        color: #f00;
        position: absolute;
        top: 4px;
        left: 90%;
    }
/*==================*/

/*======= wrapper ==============*/
.wrapper {
    width: 95%;
    left: 0%;
}

.button {
    padding-top: 20px;
}
/*=====================*/

/*======= footer ===============*/
    .footer {
        position:fixed;
        bottom:0;
        width:100%;
    }

    .footer .banner-buttons {
        list-style: none;
        display: inline;
    }

    .footer .banner-buttons li {
        float: left;
        background-color: black;
        
        display: block;

        padding-top: 10px;
        padding-right: 2px;
        padding-bottom: 2px;
        padding-left: 25px;

        width: 25%;
        height: 60px;
    }

    .footer .fa-thumbs-down {
        padding-left: 7px;
    }

    .footer .share {
        padding-left: 4px;
    }
}

/*====== img responsive =========*/
@media only screen and (max-device-height: 480px) {
    #image-responsive {
        margin: auto;
        height: 220px;
    }
}

@media only screen and (min-device-height: 490px) and (max-device-height: 568px) {
    #image-responsive {
        margin: auto;
        padding-top: 20px;
        height: 350px;
    }
}

@media only screen and (min-device-height: 600px) and (max-device-height: 992px) {
    #image-responsive  {
        margin: auto;
        height: 400px;
    }
}


@media only screen and (min-device-width: 360px) {
    #image-responsive {
        height: 140px;
    }
}

@media only screen and (min-device-width: 490px) and (max-device-height: 568px) {
    #image-responsive {
        height: 200px;
    }
}
/*====== end ===============*/


/*========== settings color for footer ==========*/
    #stop, #share {
        color: #fff;
    }

    #like, #dislike {
        color: #f00;
    }

    .footer .fa-thumbs-up, .fa-thumbs-down {
        color: #f00;
    }

    .footer .fa-hand-o-up, .fa-share {
        color: #fff;
    }
/*=========== end settings footer =============*/